@import "../main.scss";

.header {
  // .header__container

  &__container {
    max-width: $max-width;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }

  // .header__logo

  &__logo {
  }

  // .header__nav

  &__nav {

  }

  // .header__action

  &__action {
  }

  // .header__button

  &__button {
  }
}

